{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Generator</title>
</head>
<body>
    <h3>Playlist Generator By Mood</h3>
    <form action="/playlist/generator/result">
        <input type="text" name="q" id="q" placeholder="Enter Mood ..." required>
        <button type="submit">Generate</button>
    </form>
</body>
</html>
{% endblock %}